<div class="schedule">
    <h1 class="display-3">{{project.projectName}} Schedule</h1>

    <div class="table-responsive-sm text-nowrap">
        <table class="table table-bordered table-fixed">
            <thead>
                <tr>
                    <th style="width: 10%;">Member</th>
                    <th *ngFor="let date of dateLabel">{{date}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let member of memberList">
                    <th scope="row">{{member.displayName}}</th>
                    <td class="addTask" *ngFor="let item of userTask.get(member.uid)" (click) = "openDialog(item, member)" [attr.colspan] = "item.colspan">{{item.task.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <button (click) = "showTaskAndProject()">ShowTask</button> -->
</div>