.display-4{
    font-size: 10%;
}
.display-3{
    font-size: 10%;
}
.container{
    width: 30rem;
    background-color: grey;
}

.home-container {
  display: flex;
  flex-grow: 1;
  padding-left: 3em;
  padding-top: 3em;
  flex-direction: column;
}
