.display-4{
    font-size: 2rem;
}
.display-3{
    font-size: 3rem;
}
.container{
    width: 30rem;
}

.home-container {
  display: flex;
  flex-grow: 1;
  padding-left: 3em;
  padding-top: 3em;
  flex-direction: column;
}

.projectProgress{
    width: 100%;
    
}