.display-4{
    font-size: 10%;
}
.display-3{
    font-size: 10%;
}
.container{
    width: 30rem;
<<<<<<< HEAD
    
}
=======
    background-color: grey;
}

.home-container {
  display: flex;
  flex-grow: 1;
  padding-left: 3em;
  padding-top: 3em;
  flex-direction: column;
}
>>>>>>> 14adcdadc92dbad21095e302ead69a41f998acb5
