<div class="dashboard">
    <div class="row">
        <h1 class="display-3">
            Today
        </h1>
    </div>
    <div class="row">
        <h1 class="display-4">
            {{today}}
        </h1>
    </div>
    <div class="row">
        <h1 class="display-4">Hello {{this.userService.currentUser.displayName}}</h1>
    </div>
    <div class="row">
        <h1 class="display-4">
            Your work today:
        </h1>
    </div>

    <div class="row">
        <ul>
            <li>Work 1</li>
            <li>Work 2</li>
        </ul>
    </div>
    <div>
        <div class="row">
            <h1 class="display-4">Dashboard</h1>
        </div>
        <mat-nav-list>
            <mat-list-item *ngFor="let item of this.userService.userProject" routerLink='/app/projects/{{item.projectID}}' >
                <div class="table projectProgress">
                    <div class="row w-100 display-4 text-left proLabel">
                        <div class="col-4">
                            {{item.projectName}}
                        </div>
                        <div class="col-4 text-center">
                            {{this.userService.getUser(item.projectOwner).displayName}}
                        </div>
                        <div class="col-4 text-right">
                            {{getRemainingDay(item.endDate)}}
                        </div>

                    </div>
                    <div class="row w-100 probar">
                        <mat-progress-bar mode="determinate" [value]="getProgress(item)"></mat-progress-bar>
                    </div>
                </div>
            </mat-list-item>
        </mat-nav-list>
    </div>

</div>