<div>
    <mat-tab-group>
        <mat-tab label="Detail">
            <app-project-detail></app-project-detail>
        </mat-tab>
        <mat-tab label="Table">
            <app-project-table [dateLabel]="dateLabel" [userTask]="userTask" [memberList]="memberList" [project]="currentProject" [taskList]="projectService.getTasks(currentProjectID)"></app-project-table>
        </mat-tab>
        <mat-tab label="Task">
            <app-project-task [taskList]="projectService.getTasks(currentProjectID)"></app-project-task>
        </mat-tab>
        <mat-tab label="Setting">
            <app-project-setting></app-project-setting>
        </mat-tab>
    </mat-tab-group>
</div>