<mat-drawer-container autosize class="sidenav">
  <mat-drawer class="sideDrawer" disableClose="true" mode="side" opened="true">
    <mat-nav-list>

      <mat-list-item (click)="toggleMenu()">
        <span class="menuIcon">
          <mat-icon>menu</mat-icon>
        </span>
        <span *ngIf="isExpanded" class="menuText">
          <p>Menu</p>
        </span>
      </mat-list-item>

      <mat-divider></mat-divider>

      <!-- User Info -->
      <mat-list-item disableRipple style="background-color: transparent;">
        <span class="menuIcon">
          <mat-icon>person</mat-icon>
        </span>
        <span *ngIf="isExpanded" class="menuText">
          <p>{{this.userService.currentUser.displayName}}</p>
        </span>
        <span *ngIf="isExpanded" class="menuIcon">
          <button (click)="logOut()" mat-raised-button style="box-shadow: none; color: tomato;"><mat-icon>exit_to_app</mat-icon></button>
        </span>
      </mat-list-item>

      <mat-divider></mat-divider>

      <!-- Dashboard -->
      <div [ngClass]="{'selectedMenu' : isSelectedDashboard()}">
        <mat-list-item (click)="switchToDashboard()">
          <span class="menuIcon">
            <mat-icon>dashboard</mat-icon>
          </span>
          <span *ngIf="isExpanded" class="menuText">
            <p>Dashboard</p>
          </span>
        </mat-list-item>
      </div>

      <mat-divider></mat-divider>

      <!-- Project List -->
      <div *ngFor="let project of this.userService.userProject">
        <div [ngClass]="{'selectedMenu' : isSelectedProject(project)}">
          <mat-list-item (click)="switchToProject(project)">
            <span class="menuIcon">
              <mat-icon>label</mat-icon>
            </span>
            <span *ngIf="isExpanded" class="menuText">
              <p>{{project.projectName}}</p>
            </span>
          </mat-list-item>
        </div>
      </div>

      <mat-divider></mat-divider>

      <!-- Add Project -->
      <mat-list-item (click)="openDialog()">
        <span class="menuIcon">
          <mat-icon>add</mat-icon>
        </span>
        <span *ngIf="isExpanded" class="menuText">
          <p>Add Project</p>
        </span>
      </mat-list-item>

    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

