<mat-drawer-container class="sidenav" autosize>
    <mat-drawer #drawer mode="side" disableClose="true" opened="true">
        <mat-nav-list>
            <mat-list-item (click) = "isExpanded = !isExpanded">
                <mat-icon mat-list-icon>menu</mat-icon>
                <h4 mat-line *ngIf="isExpanded">Panel</h4>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>dashboard</mat-icon>
                <h4 mat-line *ngIf="isExpanded">Dashboard</h4>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
</mat-drawer-container>