<h2>Sche3dul3r</h2>
<form>
    <div>
        <mat-form-field>
            <input type="text" matInput placeholder="์Display Name">
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="์Email">
        </mat-form-field>

        <mat-form-field>
            <input type="password" matInput placeholder="์Password">
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="์Re-Password">
        </mat-form-field>
    </div>

    <button mat-raised-button color="primary">Sign Up</button>
</form>