<div class="container-fluid">
  <div class="setting-container">
    <div class="setting-row">

      <div>
        <mat-form-field>
          <input [formControl]="projectName" matInput placeholder="Project Name" required value="{{project.projectName}}">
        </mat-form-field>
        <mat-form-field class="date-picker">
          <input [formControl]="startDate" [matDatepicker]="startDatePicker" matInput placeholder="Start Date" required
                 value="{{project.startDate.toISOString()}}">
          <mat-datepicker-toggle [for]="startDatePicker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="date-picker">
          <input [formControl]="endDate" [matDatepicker]="endDatePicker" matInput placeholder="End Date" required
                 value="{{project.endDate.toISOString()}}">
          <mat-datepicker-toggle [for]="endDatePicker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="project-member-label">
        <div class="col">
          <label style="margin-right: 3rem;">Users : </label>
          <mat-form-field>
            <input matInput type="text" [(ngModel)]="searchName" autocomplete="off" placeholder="Search Name">
          </mat-form-field>
        </div>
        <div class="col" style="margin: auto">
          <label style="vertical-align: middle">Members : </label>
        </div>
      </div>

      <div class="project-member-list">
        <div class="col">
          <mat-nav-list>
            <mat-list-item (click)="selectUser(item)" *ngFor="let item of userListItems | filter:searchName">
              <mat-checkbox disableRipple="true" [(ngModel)]="item.selected">{{item.user.displayName}}</mat-checkbox>
            </mat-list-item>
          </mat-nav-list>
        </div>

        <div class="col">
          <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let user of selectedUsers">
              <p class="select-user">{{user.displayName}}</p>
            </mat-list-item>
          </mat-list>
        </div>
      </div>

      <div class="setting-buttons">
        <button (click)="saveSetting()" mat-raised-button>
          Save
        </button>
        <button mat-button (click)="setFormValue()">
          Reset
        </button>
      </div>

    </div>
  </div>

</div>
