<h1 mat-dialog-title>Add Project</h1>
<div mat-dialog-content>
  <form>
      <div>
          <mat-form-field>
              <input type="text" matInput placeholder="Project Name">
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="startPicker" placeholder="Start Date">
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="endPicker" placeholder="End Date">
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
      </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button >Add Project</button>
</div>