.mat-form-field{
    margin-right: 1em;
}
.mat-nav-list{
    overflow-y: scroll;
    height: 15em;
}
.mat-list{
    overflow-y: scroll;
    height: 15em;
}
.mat-dialog-actions {
    justify-content: flex-end;
}
.mat-dialog-content{
    overflow-y: hidden;
}