<h1 mat-dialog-title>Add Project</h1>
<div mat-dialog-content>
  <form [formGroup]="addProjectForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field>
        <input formControlName="projectName" type="text" matInput placeholder="Project Name" autocomplete="off"
               required>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="startDate" matInput [matDatepicker]="startPicker" placeholder="Start Date"
               autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="endDate" matInput [matDatepicker]="endPicker" placeholder="End Date" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
  <div class="row">
    <div class="col-6">
      <label style="margin-right: 3rem;">Member</label>
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="searchName" autocomplete="off" placeholder="Search Name">
      </mat-form-field>
      <mat-nav-list>
        <mat-list-item (click)="SelectedUser(userItem)" *ngFor="let userItem of userItems | filter:searchName">
          <mat-checkbox disableRipple="true"
                        [(ngModel)]="checkList[userItem.id]">{{userItem.user.displayName}}</mat-checkbox>

        </mat-list-item>
      </mat-nav-list>
    </div>
    <div class="col-6">
      <label>Selected</label>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let user of selectedUsers">
          <p>{{user.displayName}}</p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button (click)="onSubmit()" [disabled]="addProjectForm.invalid" mat-raised-button>Add Project</button>
</div>
