<mat-drawer-container autosize class="sidenav">
  <mat-drawer class="drawer" disableClose="true" mode="side" opened="true">
    <mat-nav-list>

      <mat-list-item (click)="toggleMenu()">
        <span class="menu-icon">
          <mat-icon>menu</mat-icon>
        </span>
        <span *ngIf="isExpanded" class="menu-text">
          <p>Menu</p>
        </span>
      </mat-list-item>

      <mat-divider></mat-divider>

      <!-- User Info -->
      <mat-list-item disableRipple style="background-color: transparent;">
        <span class="menu-icon">
          <mat-icon>person</mat-icon>
        </span>
        <span *ngIf="isExpanded" class="menu-text">
          <p>{{ displayNanme }}</p>
        </span>
        <span *ngIf="isExpanded" class="menu-icon">
          <button (click)="logOut()" mat-raised-button style="box-shadow: none; color: tomato;">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </span>
      </mat-list-item>

      <mat-divider></mat-divider>

      <!-- Dashboard -->
      <div>
        <mat-list-item routerLink='dashboard' routerLinkActive="is-active">
          <span class="menu-icon">
            <mat-icon>dashboard</mat-icon>
          </span>
          <span *ngIf="isExpanded" class="menu-text">
            <p>Dashboard</p>
          </span>
        </mat-list-item>
      </div>

      <mat-divider></mat-divider>

      <!-- Project List -->
      <!-- <div *ngFor="let project of getProjectList()">
        <div>
          <mat-list-item routerLink="projects/{{project.projectID}}" routerLinkActive="is-active">
            <span class="menu-icon">
              <mat-icon>label</mat-icon>
            </span>
            <span *ngIf="isExpanded" class="menu-text">
              <p>{{project.projectName}}</p>
            </span>
          </mat-list-item>
        </div>
      </div> -->

      <mat-divider></mat-divider>

      <!-- Add Project -->
      <mat-list-item (click)="openDialog()">
        <span class="menu-icon">
          <mat-icon>add</mat-icon>
        </span>
        <span *ngIf="isExpanded" class="menu-text">
          <p>Add Project</p>
        </span>
      </mat-list-item>

    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
