<div class="detail">
    <div>
        <h1 class="display-4">
            Project Name: {{project.projectName}}
        </h1>
        <h1 class="display-3">
            Start Date: {{this.userService.getDate(project.startDate)}}

        </h1>
        <h1 class="display-3">
            End Date: {{this.userService.getDate(project.endDate)}}
        </h1>
        <h1 class="display-3">
            Description: 
        </h1>
        <p>
            {{projectDescription.description}}
        </p>
    </div>
</div>
