p {
  font-size: 1.5rem;
}

button {
  align-items: center;
  justify-content: center;
}

.detail {
  padding-left: 3rem;
  padding-top: 2rem;
}

.display-3 {
  font-size: 2rem;
}

.mat-mini-fab {
  box-shadow: none;
  background: black;
}

.mat-icon:hover {
  color: rgb(124, 212, 212);
}
