<div class="detail">
    <div>
        <h1 class="display-3">
            Project Name: {{projectComponent.currentProject.projectName}}
        </h1>
        <h1 class="display-4">
            Start Date: {{this.userService.getDate(projectComponent.currentProject.startDate)}}

        </h1>
        <h1 class="display-4">
            End Date: {{this.userService.getDate(projectComponent.currentProject.endDate)}}
        </h1>
        <h1 class="display-4">
            Description: 
        </h1>

    </div>
</div>
