.button-cancel {
  margin-left: 0.5em;
}

.button-confirm {
  background: #ef5350;
  color: #ffffff;
}

.task-confirm-control-container {
  display: flex;
  width: 100%;
  padding-top: 1em;
  justify-content: right;
}

.cancel-text {
  width: 100%;
}
